
@font-face {
    font-family:"font/Lato-Regular ";
    src: url(../font/Lato-Regular.ttf);
}




/* L'étoile donne du style à TOUS les éléments */
* {
    margin: 0;
    padding: 0;
    border: 3px solid hsla(0, 33%, 99%, 0.473);
}



body {
    background-color: white;



    min-height: 100vh;
}

/* header { */

    /* background-repeat: no-repeat; */
    /* background-color: white; */

/* } */


header{
  background-image: url(./la.jpg);
  height: 500px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}
.menu {
  --s: 100px; /* control the size */
  --c: black; /* the color */
  
  height: var(--s);
  aspect-ratio: 1;
  border: none;
  padding: 0;
  border-inline: calc(var(--s)/2) solid #0000; 
  box-sizing: content-box;
  --_g1: linear-gradient(var(--c) 20%,#0000 0 80%,var(--c) 0) 
         no-repeat content-box border-box;
  --_g2: radial-gradient(circle closest-side at 50% 12.5%,var(--c) 95%,#0000) 
         repeat-y content-box border-box;
  background: 
    var(--_g2) left  var(--_p,0px) top,
    var(--_g1) left  calc(var(--s)/10 + var(--_p,0px)) top,
    var(--_g2) right var(--_p,0px) top,
    var(--_g1) right calc(var(--s)/10 + var(--_p,0px)) top;
  background-size: 
    20% 80%,
    40% 100%;
  position: relative;
  clip-path: inset(0 25%);
  -webkit-mask: linear-gradient(90deg,#0000,#000 25% 75%,#0000);
  cursor: pointer;
  transition: 
    background-position .3s var(--_s,.3s), 
    clip-path 0s var(--_s,.6s);
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
}
.menu:before,
.menu:after {
  content:"";
  position: absolute;
  border-radius: var(--s);
  inset: 40% 0;
  background: var(--c);
  transition: transform .3s calc(.3s - var(--_s,.3s));
}

.menu:checked {
  clip-path: inset(0);
  --_p: calc(-1*var(--s));
  --_s: 0s;
}
.menu:checked:before {
  transform: rotate(45deg);
}
.menu:checked:after {
  transform: rotate(-45deg);
}
.menu:focus-visible {
  clip-path: none;
  -webkit-mask: none;
  border: none;
  outline: 2px solid var(--c);
  outline-offset: 5px;
}

nav{
  background-color: azure;
}

  
   

/* Styles pour le menu déroulant en version mobile */
.navbar ul {
    list-style-type: none;
    padding: 0;
}

.navbar ul li {
    display: inline-block;
    margin-right: 20px;
    position: relative;
}

.navbar ul li:hover .submenu {
    display: block;
}

.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.submenu li {
    display: block;
    width: 100%;
}

form {
    display: block;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

input,
textarea {
  margin: 5px;
  border: 1px solid darkblue;
  padding: 10px;
  font-size: 1.1rem;
  font-family:"font/Lato-Regular ";
  border-radius: 5px;
}
textarea {
   
    height: 40px;
    resize: none;
  }
  
  #btn-submit {
    grid-area: bt;
    cursor: pointer;
    background: cyan;
    transition: 0.2s;
  }
  
  #btn-submit:hover {
    background: darkblue;
    color: white;
  }

        /* Styles pour aligner les éléments à HOME en version desktop */
        @media (min-width: 768px) {
          .navbar ul {
              display: flex;
              justify-content: space-around;
              align-items: center; /* Aligner les éléments verticalement au centre */
          }

          .navbar ul li {
              position: relative;
              display: inline-block;
              margin-right: 20px;
          }

          .navbar ul li:hover .submenu {
              display: block;
              position: absolute;
              left: 0;
              top: 100%;
          }
      }